.media-container {
    position: relative;
    width: 100%; /* Or any specific width */
    height: 100%; /* Or any specific height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* To ensure images do not exceed the container */
.media-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* To maintain aspect ratio */
}

/* To ensure videos do not exceed the container */
.media-container video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* To maintain aspect ratio */
}

/* Timer styling */
.timer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
